*.vtu
*RESTART.MAT
results.dat
*/*/*.dat~
*-OUTPUT.txt
*-results.txt
*-OUTPUT_FLAGOUT.txt
*/*/abaqus/*.com
*/*/abaqus/*.dat
*/*/abaqus/*.ipm
*/*/abaqus/*.jnl
*/*/abaqus/*.log
*/*/abaqus/*.msg
*/*/abaqus/*.odb
*/*/abaqus/*.sim
*/*/abaqus/*.sta
*/*/abaqus/*.prt
*/*/abaqus/*.rec
*/*/abaqus/*.inp
*/*/abaqus/*.nfs*
*/*/abaqus/abaqus.rpy
*/*/abaqus/abaqus.rpy.*
*/*/abaqus/*.abq
*/*/abaqus/*.mdl
*/*/abaqus/*.pac
*/*/abaqus/*.res
*/*/abaqus/*.sel
*/*/abaqus/*.stt
*/*/*/abaqus.rpy
*/*/*/abaqus.rpy.*

