*.vtu
*RESTART.MAT
results.dat
*-OUTPUT.txt
*-OUTPUT_FLAGOUT.txt
job_folder/2D_1Elt_SimpleShear/abaqus/2DPlaneStrain-v2.com
job_folder/2D_1Elt_SimpleShear/abaqus/2DPlaneStrain-v2.dat
job_folder/2D_1Elt_SimpleShear/abaqus/2DPlaneStrain-v2.ipm
job_folder/2D_1Elt_SimpleShear/abaqus/2DPlaneStrain-v2.jnl
job_folder/2D_1Elt_SimpleShear/abaqus/2DPlaneStrain-v2.log
job_folder/2D_1Elt_SimpleShear/abaqus/2DPlaneStrain-v2.msg
job_folder/2D_1Elt_SimpleShear/abaqus/2DPlaneStrain-v2.odb
job_folder/2D_1Elt_SimpleShear/abaqus/2DPlaneStrain-v2.sim
job_folder/2D_1Elt_SimpleShear/abaqus/2DPlaneStrain-v2.sta
*abaqus.rpy*
