*.vtu
*RESTART.MAT
results.dat
*/*/*.dat~
*-OUTPUT.txt
*-results.txt
*-OUTPUT_FLAGOUT.txt
*/*/abaqus/*.com
*/*/abaqus/*.dat
*/*/abaqus/*.ipm
*/*/abaqus/*.jnl
*/*/abaqus/*.log
*/*/abaqus/*.msg
*/*/abaqus/*.odb
*/*/abaqus/*.sim
*/*/abaqus/*.sta
*/*/abaqus/*.prt
*/*/abaqus/*.rec
*/*/abaqus/*.inp
*/*/abaqus/*.nfs*
*/*/abaqus.rpy
*/*/abaqus.rpy.*
